<div class="contact-container">
  <h1 class="contact-title">Contactez-nous</h1>

  <!-- Informations sur le site -->
  <div class="contact-info">
    <div class="info-section">
      <h2 class="section-title">Adresse</h2>
      <p class="info-text">2057 Sidi Thebt, Ariana, Tunisie</p>
    </div>

    <div class="info-section">
      <h2 class="section-title">Email</h2>
      <p class="info-text">yassinnhichriie777gmail.com</p>
    </div>

    <div class="info-section">
      <h2 class="section-title">Téléphone</h2>
      <p class="info-text">+216 93 129 364</p>
    </div>

    <div class="info-section">
      <h2 class="section-title">Horaires d'ouverture</h2>
      <p class="info-text">Lundi à Vendredi: 09h00 - 18h00</p>
    </div>
  </div>

  <!-- Formulaire de contact -->
  <form class="contact-form">
     <button routerLink="/acceuil" type="submit" class="contact-button">Envoyer</button>
  </form>
</div>
