<mat-toolbar color="primary">
  <div class="toolbar-title">
    <strong>K/A</strong>
    <span class="subtitle">(Kechta-Armes)</span>
  </div>
  <span class="spacer"></span>
  <nav class="toolbar-links">
    <a mat-button routerLink="/accueil" routerLinkActive="active-link">Accueil</a>
    <a mat-button routerLink="/account" routerLinkActive="active-link">Compte</a>
    <a mat-button routerLink="/login" routerLinkActive="active-link">Connexion</a>
    <a mat-button routerLink="/produit" routerLinkActive="active-link">Produits</a>
    <a mat-button routerLink="/payment" routerLinkActive="active-link">Paiement</a>
    <a mat-button routerLink="/contact" routerLinkActive="active-link">Contact</a>
  </nav>
</mat-toolbar>
<router-outlet></router-outlet>
